.multi-sidebar-outer i {
    color: #fff;
    font-size: 27px;
}
div#gpt-response > p {
    color: #ffa7a7;
}
iframe#gptinput_ifr {
    height: 60vh !IMPORTANT;
}
h4.multi-sidebar-title {
    margin-bottom: 20px !IMPORTANT;
}
.sidebar-tab span {
    display: none;
}
form#gptForm {
    padding: 0 15px;
}
div#mceu_2-body {
    display: none;
}

div#mceu_8-body {
    display: none;
}
input#gptinput {
    width: 100%;
}
.multi-sidebar-inner.current {
    display: block !important;
}
.sidebar-coupon-content .sidebar-coupon-list .multi-plugin-nodata {
    position: relative;
    margin-top: 0;
    top: auto;
    left: auto;
}
.plugin-list-item {
    float: left;
    width: 50%;
    margin-left: 0;
    padding: 0 4px 8px;
    list-style-type: none;
}
.plugin-list-item .plugin-item-inner {
    background-color: #fff;
    border-radius: 4px;
    overflow: hidden;
}
.plugin-list-item .plugin-item-inner a {
    display: block;
    color: #333;
}
.plugin-list-item .plugin-item-inner a:hover {
    text-decoration: none;
}
@keyframes loadingCircle {
    0% {
        transform-origin: 50% 50%;
        transform: rotate(0);
    }
    to {
        transform-origin: 50% 50%;
        transform: rotate(1turn);
    }
}
@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-100px);
        -moz-transform: translateY(-100px);
        -ms-transform: translateY(-100px);
        -o-transform: translateY(-100px);
        transform: translateY(-100px);
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
}
@-moz-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-100px);
        -moz-transform: translateY(-100px);
        -ms-transform: translateY(-100px);
        -o-transform: translateY(-100px);
        transform: translateY(-100px);
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
}
@-ms-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-100px);
        -moz-transform: translateY(-100px);
        -ms-transform: translateY(-100px);
        -o-transform: translateY(-100px);
        transform: translateY(-100px);
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
}
@-o-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-100px);
        -moz-transform: translateY(-100px);
        -ms-transform: translateY(-100px);
        -o-transform: translateY(-100px);
        transform: translateY(-100px);
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
}
@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-100px);
        -moz-transform: translateY(-100px);
        -ms-transform: translateY(-100px);
        -o-transform: translateY(-100px);
        transform: translateY(-100px);
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
}
@-webkit-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-20px);
        -moz-transform: translateX(-20px);
        -ms-transform: translateX(-20px);
        -o-transform: translateX(-20px);
        transform: translateX(-20px);
    }
    to {
        opacity: 1;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
}
@-moz-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-20px);
        -moz-transform: translateX(-20px);
        -ms-transform: translateX(-20px);
        -o-transform: translateX(-20px);
        transform: translateX(-20px);
    }
    to {
        opacity: 1;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
}
@-ms-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-20px);
        -moz-transform: translateX(-20px);
        -ms-transform: translateX(-20px);
        -o-transform: translateX(-20px);
        transform: translateX(-20px);
    }
    to {
        opacity: 1;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
}
@-o-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-20px);
        -moz-transform: translateX(-20px);
        -ms-transform: translateX(-20px);
        -o-transform: translateX(-20px);
        transform: translateX(-20px);
    }
    to {
        opacity: 1;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-20px);
        -moz-transform: translateX(-20px);
        -ms-transform: translateX(-20px);
        -o-transform: translateX(-20px);
        transform: translateX(-20px);
    }
    to {
        opacity: 1;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
}
@-webkit-keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translateX(20px);
        -moz-transform: translateX(20px);
        -ms-transform: translateX(20px);
        -o-transform: translateX(20px);
        transform: translateX(20px);
    }
    to {
        opacity: 1;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
}
@-moz-keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translateX(20px);
        -moz-transform: translateX(20px);
        -ms-transform: translateX(20px);
        -o-transform: translateX(20px);
        transform: translateX(20px);
    }
    to {
        opacity: 1;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
}
@-ms-keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translateX(20px);
        -moz-transform: translateX(20px);
        -ms-transform: translateX(20px);
        -o-transform: translateX(20px);
        transform: translateX(20px);
    }
    to {
        opacity: 1;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
}
@-o-keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translateX(20px);
        -moz-transform: translateX(20px);
        -ms-transform: translateX(20px);
        -o-transform: translateX(20px);
        transform: translateX(20px);
    }
    to {
        opacity: 1;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translateX(20px);
        -moz-transform: translateX(20px);
        -ms-transform: translateX(20px);
        -o-transform: translateX(20px);
        transform: translateX(20px);
    }
    to {
        opacity: 1;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
}
@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        -moz-transform: translateY(20px);
        -ms-transform: translateY(20px);
        -o-transform: translateY(20px);
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
}
@-moz-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        -moz-transform: translateY(20px);
        -ms-transform: translateY(20px);
        -o-transform: translateY(20px);
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
}
@-ms-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        -moz-transform: translateY(20px);
        -ms-transform: translateY(20px);
        -o-transform: translateY(20px);
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
}
@-o-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        -moz-transform: translateY(20px);
        -ms-transform: translateY(20px);
        -o-transform: translateY(20px);
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
}
@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        -moz-transform: translateY(20px);
        -ms-transform: translateY(20px);
        -o-transform: translateY(20px);
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
}
@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@-moz-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@-ms-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@-o-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@-webkit-keyframes fadeOutDown {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
    to {
        opacity: 0;
        -webkit-transform: translateY(20px);
        -moz-transform: translateY(20px);
        -ms-transform: translateY(20px);
        -o-transform: translateY(20px);
        transform: translateY(20px);
    }
}
@-moz-keyframes fadeOutDown {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
    to {
        opacity: 0;
        -webkit-transform: translateY(20px);
        -moz-transform: translateY(20px);
        -ms-transform: translateY(20px);
        -o-transform: translateY(20px);
        transform: translateY(20px);
    }
}
@-ms-keyframes fadeOutDown {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
    to {
        opacity: 0;
        -webkit-transform: translateY(20px);
        -moz-transform: translateY(20px);
        -ms-transform: translateY(20px);
        -o-transform: translateY(20px);
        transform: translateY(20px);
    }
}
@-o-keyframes fadeOutDown {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
    to {
        opacity: 0;
        -webkit-transform: translateY(20px);
        -moz-transform: translateY(20px);
        -ms-transform: translateY(20px);
        -o-transform: translateY(20px);
        transform: translateY(20px);
    }
}
@keyframes fadeOutDown {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
    to {
        opacity: 0;
        -webkit-transform: translateY(20px);
        -moz-transform: translateY(20px);
        -ms-transform: translateY(20px);
        -o-transform: translateY(20px);
        transform: translateY(20px);
    }
}
@-webkit-keyframes fadeOutLeft {
    0% {
        opacity: 1;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
    to {
        opacity: 0;
        -webkit-transform: translateX(-20px);
        -moz-transform: translateX(-20px);
        -ms-transform: translateX(-20px);
        -o-transform: translateX(-20px);
        transform: translateX(-20px);
    }
}
@-moz-keyframes fadeOutLeft {
    0% {
        opacity: 1;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
    to {
        opacity: 0;
        -webkit-transform: translateX(-20px);
        -moz-transform: translateX(-20px);
        -ms-transform: translateX(-20px);
        -o-transform: translateX(-20px);
        transform: translateX(-20px);
    }
}
@-ms-keyframes fadeOutLeft {
    0% {
        opacity: 1;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
    to {
        opacity: 0;
        -webkit-transform: translateX(-20px);
        -moz-transform: translateX(-20px);
        -ms-transform: translateX(-20px);
        -o-transform: translateX(-20px);
        transform: translateX(-20px);
    }
}
@-o-keyframes fadeOutLeft {
    0% {
        opacity: 1;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
    to {
        opacity: 0;
        -webkit-transform: translateX(-20px);
        -moz-transform: translateX(-20px);
        -ms-transform: translateX(-20px);
        -o-transform: translateX(-20px);
        transform: translateX(-20px);
    }
}
@keyframes fadeOutLeft {
    0% {
        opacity: 1;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
    to {
        opacity: 0;
        -webkit-transform: translateX(-20px);
        -moz-transform: translateX(-20px);
        -ms-transform: translateX(-20px);
        -o-transform: translateX(-20px);
        transform: translateX(-20px);
    }
}
@-webkit-keyframes fadeOutRight {
    0% {
        opacity: 1;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
    to {
        opacity: 0;
        -webkit-transform: translateX(20px);
        -moz-transform: translateX(20px);
        -ms-transform: translateX(20px);
        -o-transform: translateX(20px);
        transform: translateX(20px);
    }
}
@-moz-keyframes fadeOutRight {
    0% {
        opacity: 1;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
    to {
        opacity: 0;
        -webkit-transform: translateX(20px);
        -moz-transform: translateX(20px);
        -ms-transform: translateX(20px);
        -o-transform: translateX(20px);
        transform: translateX(20px);
    }
}
@-ms-keyframes fadeOutRight {
    0% {
        opacity: 1;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
    to {
        opacity: 0;
        -webkit-transform: translateX(20px);
        -moz-transform: translateX(20px);
        -ms-transform: translateX(20px);
        -o-transform: translateX(20px);
        transform: translateX(20px);
    }
}
@-o-keyframes fadeOutRight {
    0% {
        opacity: 1;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
    to {
        opacity: 0;
        -webkit-transform: translateX(20px);
        -moz-transform: translateX(20px);
        -ms-transform: translateX(20px);
        -o-transform: translateX(20px);
        transform: translateX(20px);
    }
}
@keyframes fadeOutRight {
    0% {
        opacity: 1;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
    to {
        opacity: 0;
        -webkit-transform: translateX(20px);
        -moz-transform: translateX(20px);
        -ms-transform: translateX(20px);
        -o-transform: translateX(20px);
        transform: translateX(20px);
    }
}
@-webkit-keyframes fadeOutUp {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
    to {
        opacity: 0;
        -webkit-transform: translateY(-100px);
        -moz-transform: translateY(-100px);
        -ms-transform: translateY(-100px);
        -o-transform: translateY(-100px);
        transform: translateY(-100px);
    }
}
@-moz-keyframes fadeOutUp {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
    to {
        opacity: 0;
        -webkit-transform: translateY(-100px);
        -moz-transform: translateY(-100px);
        -ms-transform: translateY(-100px);
        -o-transform: translateY(-100px);
        transform: translateY(-100px);
    }
}
@-ms-keyframes fadeOutUp {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
    to {
        opacity: 0;
        -webkit-transform: translateY(-100px);
        -moz-transform: translateY(-100px);
        -ms-transform: translateY(-100px);
        -o-transform: translateY(-100px);
        transform: translateY(-100px);
    }
}
@-o-keyframes fadeOutUp {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
    to {
        opacity: 0;
        -webkit-transform: translateY(-100px);
        -moz-transform: translateY(-100px);
        -ms-transform: translateY(-100px);
        -o-transform: translateY(-100px);
        transform: translateY(-100px);
    }
}
@keyframes fadeOutUp {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
    to {
        opacity: 0;
        -webkit-transform: translateY(-100px);
        -moz-transform: translateY(-100px);
        -ms-transform: translateY(-100px);
        -o-transform: translateY(-100px);
        transform: translateY(-100px);
    }
}
@-webkit-keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        -moz-transform: scale3d(0.3, 0.3, 0.3);
        -ms-transform: scale3d(0.3, 0.3, 0.3);
        -o-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }
    50% {
        opacity: 1;
    }
}
@-moz-keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        -moz-transform: scale3d(0.3, 0.3, 0.3);
        -ms-transform: scale3d(0.3, 0.3, 0.3);
        -o-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }
    50% {
        opacity: 1;
    }
}
@-ms-keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        -moz-transform: scale3d(0.3, 0.3, 0.3);
        -ms-transform: scale3d(0.3, 0.3, 0.3);
        -o-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }
    50% {
        opacity: 1;
    }
}
@-o-keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        -moz-transform: scale3d(0.3, 0.3, 0.3);
        -ms-transform: scale3d(0.3, 0.3, 0.3);
        -o-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }
    50% {
        opacity: 1;
    }
}
@keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        -moz-transform: scale3d(0.3, 0.3, 0.3);
        -ms-transform: scale3d(0.3, 0.3, 0.3);
        -o-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }
    50% {
        opacity: 1;
    }
}
@-webkit-keyframes zoomOut {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        -moz-transform: scale3d(0.3, 0.3, 0.3);
        -ms-transform: scale3d(0.3, 0.3, 0.3);
        -o-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }
    to {
        opacity: 0;
    }
}
@-moz-keyframes zoomOut {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        -moz-transform: scale3d(0.3, 0.3, 0.3);
        -ms-transform: scale3d(0.3, 0.3, 0.3);
        -o-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }
    to {
        opacity: 0;
    }
}
@-ms-keyframes zoomOut {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        -moz-transform: scale3d(0.3, 0.3, 0.3);
        -ms-transform: scale3d(0.3, 0.3, 0.3);
        -o-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }
    to {
        opacity: 0;
    }
}
@-o-keyframes zoomOut {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        -moz-transform: scale3d(0.3, 0.3, 0.3);
        -ms-transform: scale3d(0.3, 0.3, 0.3);
        -o-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }
    to {
        opacity: 0;
    }
}
@keyframes zoomOut {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        -moz-transform: scale3d(0.3, 0.3, 0.3);
        -ms-transform: scale3d(0.3, 0.3, 0.3);
        -o-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }
    to {
        opacity: 0;
    }
}
@-webkit-keyframes expandInDown {
    0% {
        opacity: 0;
        -webkit-transform: scaleY(0.6);
        -moz-transform: scaleY(0.6);
        -ms-transform: scaleY(0.6);
        -o-transform: scaleY(0.6);
        transform: scaleY(0.6);
        -webkit-transform-origin: left top 0;
        -moz-transform-origin: left top 0;
        -ms-transform-origin: left top 0;
        -o-transform-origin: left top 0;
        transform-origin: left top 0;
    }
    to {
        opacity: 1;
        -webkit-transform: scaleY(1);
        -moz-transform: scaleY(1);
        -ms-transform: scaleY(1);
        -o-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transform-origin: left top 0;
        -moz-transform-origin: left top 0;
        -ms-transform-origin: left top 0;
        -o-transform-origin: left top 0;
        transform-origin: left top 0;
    }
}
@-moz-keyframes expandInDown {
    0% {
        opacity: 0;
        -webkit-transform: scaleY(0.6);
        -moz-transform: scaleY(0.6);
        -ms-transform: scaleY(0.6);
        -o-transform: scaleY(0.6);
        transform: scaleY(0.6);
        -webkit-transform-origin: left top 0;
        -moz-transform-origin: left top 0;
        -ms-transform-origin: left top 0;
        -o-transform-origin: left top 0;
        transform-origin: left top 0;
    }
    to {
        opacity: 1;
        -webkit-transform: scaleY(1);
        -moz-transform: scaleY(1);
        -ms-transform: scaleY(1);
        -o-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transform-origin: left top 0;
        -moz-transform-origin: left top 0;
        -ms-transform-origin: left top 0;
        -o-transform-origin: left top 0;
        transform-origin: left top 0;
    }
}
@-ms-keyframes expandInDown {
    0% {
        opacity: 0;
        -webkit-transform: scaleY(0.6);
        -moz-transform: scaleY(0.6);
        -ms-transform: scaleY(0.6);
        -o-transform: scaleY(0.6);
        transform: scaleY(0.6);
        -webkit-transform-origin: left top 0;
        -moz-transform-origin: left top 0;
        -ms-transform-origin: left top 0;
        -o-transform-origin: left top 0;
        transform-origin: left top 0;
    }
    to {
        opacity: 1;
        -webkit-transform: scaleY(1);
        -moz-transform: scaleY(1);
        -ms-transform: scaleY(1);
        -o-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transform-origin: left top 0;
        -moz-transform-origin: left top 0;
        -ms-transform-origin: left top 0;
        -o-transform-origin: left top 0;
        transform-origin: left top 0;
    }
}
@-o-keyframes expandInDown {
    0% {
        opacity: 0;
        -webkit-transform: scaleY(0.6);
        -moz-transform: scaleY(0.6);
        -ms-transform: scaleY(0.6);
        -o-transform: scaleY(0.6);
        transform: scaleY(0.6);
        -webkit-transform-origin: left top 0;
        -moz-transform-origin: left top 0;
        -ms-transform-origin: left top 0;
        -o-transform-origin: left top 0;
        transform-origin: left top 0;
    }
    to {
        opacity: 1;
        -webkit-transform: scaleY(1);
        -moz-transform: scaleY(1);
        -ms-transform: scaleY(1);
        -o-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transform-origin: left top 0;
        -moz-transform-origin: left top 0;
        -ms-transform-origin: left top 0;
        -o-transform-origin: left top 0;
        transform-origin: left top 0;
    }
}
@keyframes expandInDown {
    0% {
        opacity: 0;
        -webkit-transform: scaleY(0.6);
        -moz-transform: scaleY(0.6);
        -ms-transform: scaleY(0.6);
        -o-transform: scaleY(0.6);
        transform: scaleY(0.6);
        -webkit-transform-origin: left top 0;
        -moz-transform-origin: left top 0;
        -ms-transform-origin: left top 0;
        -o-transform-origin: left top 0;
        transform-origin: left top 0;
    }
    to {
        opacity: 1;
        -webkit-transform: scaleY(1);
        -moz-transform: scaleY(1);
        -ms-transform: scaleY(1);
        -o-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transform-origin: left top 0;
        -moz-transform-origin: left top 0;
        -ms-transform-origin: left top 0;
        -o-transform-origin: left top 0;
        transform-origin: left top 0;
    }
}
@-webkit-keyframes expandInUp {
    0% {
        opacity: 0;
        -webkit-transform: scaleY(0.6);
        -moz-transform: scaleY(0.6);
        -ms-transform: scaleY(0.6);
        -o-transform: scaleY(0.6);
        transform: scaleY(0.6);
        -webkit-transform-origin: left bottom 0;
        -moz-transform-origin: left bottom 0;
        -ms-transform-origin: left bottom 0;
        -o-transform-origin: left bottom 0;
        transform-origin: left bottom 0;
    }
    to {
        opacity: 1;
        -webkit-transform: scaleY(1);
        -moz-transform: scaleY(1);
        -ms-transform: scaleY(1);
        -o-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transform-origin: left bottom 0;
        -moz-transform-origin: left bottom 0;
        -ms-transform-origin: left bottom 0;
        -o-transform-origin: left bottom 0;
        transform-origin: left bottom 0;
    }
}
@-moz-keyframes expandInUp {
    0% {
        opacity: 0;
        -webkit-transform: scaleY(0.6);
        -moz-transform: scaleY(0.6);
        -ms-transform: scaleY(0.6);
        -o-transform: scaleY(0.6);
        transform: scaleY(0.6);
        -webkit-transform-origin: left bottom 0;
        -moz-transform-origin: left bottom 0;
        -ms-transform-origin: left bottom 0;
        -o-transform-origin: left bottom 0;
        transform-origin: left bottom 0;
    }
    to {
        opacity: 1;
        -webkit-transform: scaleY(1);
        -moz-transform: scaleY(1);
        -ms-transform: scaleY(1);
        -o-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transform-origin: left bottom 0;
        -moz-transform-origin: left bottom 0;
        -ms-transform-origin: left bottom 0;
        -o-transform-origin: left bottom 0;
        transform-origin: left bottom 0;
    }
}
@-ms-keyframes expandInUp {
    0% {
        opacity: 0;
        -webkit-transform: scaleY(0.6);
        -moz-transform: scaleY(0.6);
        -ms-transform: scaleY(0.6);
        -o-transform: scaleY(0.6);
        transform: scaleY(0.6);
        -webkit-transform-origin: left bottom 0;
        -moz-transform-origin: left bottom 0;
        -ms-transform-origin: left bottom 0;
        -o-transform-origin: left bottom 0;
        transform-origin: left bottom 0;
    }
    to {
        opacity: 1;
        -webkit-transform: scaleY(1);
        -moz-transform: scaleY(1);
        -ms-transform: scaleY(1);
        -o-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transform-origin: left bottom 0;
        -moz-transform-origin: left bottom 0;
        -ms-transform-origin: left bottom 0;
        -o-transform-origin: left bottom 0;
        transform-origin: left bottom 0;
    }
}
@-o-keyframes expandInUp {
    0% {
        opacity: 0;
        -webkit-transform: scaleY(0.6);
        -moz-transform: scaleY(0.6);
        -ms-transform: scaleY(0.6);
        -o-transform: scaleY(0.6);
        transform: scaleY(0.6);
        -webkit-transform-origin: left bottom 0;
        -moz-transform-origin: left bottom 0;
        -ms-transform-origin: left bottom 0;
        -o-transform-origin: left bottom 0;
        transform-origin: left bottom 0;
    }
    to {
        opacity: 1;
        -webkit-transform: scaleY(1);
        -moz-transform: scaleY(1);
        -ms-transform: scaleY(1);
        -o-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transform-origin: left bottom 0;
        -moz-transform-origin: left bottom 0;
        -ms-transform-origin: left bottom 0;
        -o-transform-origin: left bottom 0;
        transform-origin: left bottom 0;
    }
}
@keyframes expandInUp {
    0% {
        opacity: 0;
        -webkit-transform: scaleY(0.6);
        -moz-transform: scaleY(0.6);
        -ms-transform: scaleY(0.6);
        -o-transform: scaleY(0.6);
        transform: scaleY(0.6);
        -webkit-transform-origin: left bottom 0;
        -moz-transform-origin: left bottom 0;
        -ms-transform-origin: left bottom 0;
        -o-transform-origin: left bottom 0;
        transform-origin: left bottom 0;
    }
    to {
        opacity: 1;
        -webkit-transform: scaleY(1);
        -moz-transform: scaleY(1);
        -ms-transform: scaleY(1);
        -o-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transform-origin: left bottom 0;
        -moz-transform-origin: left bottom 0;
        -ms-transform-origin: left bottom 0;
        -o-transform-origin: left bottom 0;
        transform-origin: left bottom 0;
    }
}
@-webkit-keyframes expandInWithFade {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 0.1;
    }
    50% {
        opacity: 0.9;
    }
    to {
        opacity: 1;
    }
}
@-moz-keyframes expandInWithFade {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 0.1;
    }
    50% {
        opacity: 0.9;
    }
    to {
        opacity: 1;
    }
}
@-ms-keyframes expandInWithFade {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 0.1;
    }
    50% {
        opacity: 0.9;
    }
    to {
        opacity: 1;
    }
}
@-o-keyframes expandInWithFade {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 0.1;
    }
    50% {
        opacity: 0.9;
    }
    to {
        opacity: 1;
    }
}
@keyframes expandInWithFade {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 0.1;
    }
    50% {
        opacity: 0.9;
    }
    to {
        opacity: 1;
    }
}
@-webkit-keyframes expandOutUp {
    0% {
        opacity: 1;
        -webkit-transform: scaleY(1);
        -moz-transform: scaleY(1);
        -ms-transform: scaleY(1);
        -o-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transform-origin: left top 0;
        -moz-transform-origin: left top 0;
        -ms-transform-origin: left top 0;
        -o-transform-origin: left top 0;
        transform-origin: left top 0;
    }
    to {
        opacity: 0;
        -webkit-transform: scaleY(0.6);
        -moz-transform: scaleY(0.6);
        -ms-transform: scaleY(0.6);
        -o-transform: scaleY(0.6);
        transform: scaleY(0.6);
        -webkit-transform-origin: left top 0;
        -moz-transform-origin: left top 0;
        -ms-transform-origin: left top 0;
        -o-transform-origin: left top 0;
        transform-origin: left top 0;
    }
}
@-moz-keyframes expandOutUp {
    0% {
        opacity: 1;
        -webkit-transform: scaleY(1);
        -moz-transform: scaleY(1);
        -ms-transform: scaleY(1);
        -o-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transform-origin: left top 0;
        -moz-transform-origin: left top 0;
        -ms-transform-origin: left top 0;
        -o-transform-origin: left top 0;
        transform-origin: left top 0;
    }
    to {
        opacity: 0;
        -webkit-transform: scaleY(0.6);
        -moz-transform: scaleY(0.6);
        -ms-transform: scaleY(0.6);
        -o-transform: scaleY(0.6);
        transform: scaleY(0.6);
        -webkit-transform-origin: left top 0;
        -moz-transform-origin: left top 0;
        -ms-transform-origin: left top 0;
        -o-transform-origin: left top 0;
        transform-origin: left top 0;
    }
}
@-ms-keyframes expandOutUp {
    0% {
        opacity: 1;
        -webkit-transform: scaleY(1);
        -moz-transform: scaleY(1);
        -ms-transform: scaleY(1);
        -o-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transform-origin: left top 0;
        -moz-transform-origin: left top 0;
        -ms-transform-origin: left top 0;
        -o-transform-origin: left top 0;
        transform-origin: left top 0;
    }
    to {
        opacity: 0;
        -webkit-transform: scaleY(0.6);
        -moz-transform: scaleY(0.6);
        -ms-transform: scaleY(0.6);
        -o-transform: scaleY(0.6);
        transform: scaleY(0.6);
        -webkit-transform-origin: left top 0;
        -moz-transform-origin: left top 0;
        -ms-transform-origin: left top 0;
        -o-transform-origin: left top 0;
        transform-origin: left top 0;
    }
}
@-o-keyframes expandOutUp {
    0% {
        opacity: 1;
        -webkit-transform: scaleY(1);
        -moz-transform: scaleY(1);
        -ms-transform: scaleY(1);
        -o-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transform-origin: left top 0;
        -moz-transform-origin: left top 0;
        -ms-transform-origin: left top 0;
        -o-transform-origin: left top 0;
        transform-origin: left top 0;
    }
    to {
        opacity: 0;
        -webkit-transform: scaleY(0.6);
        -moz-transform: scaleY(0.6);
        -ms-transform: scaleY(0.6);
        -o-transform: scaleY(0.6);
        transform: scaleY(0.6);
        -webkit-transform-origin: left top 0;
        -moz-transform-origin: left top 0;
        -ms-transform-origin: left top 0;
        -o-transform-origin: left top 0;
        transform-origin: left top 0;
    }
}
@keyframes expandOutUp {
    0% {
        opacity: 1;
        -webkit-transform: scaleY(1);
        -moz-transform: scaleY(1);
        -ms-transform: scaleY(1);
        -o-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transform-origin: left top 0;
        -moz-transform-origin: left top 0;
        -ms-transform-origin: left top 0;
        -o-transform-origin: left top 0;
        transform-origin: left top 0;
    }
    to {
        opacity: 0;
        -webkit-transform: scaleY(0.6);
        -moz-transform: scaleY(0.6);
        -ms-transform: scaleY(0.6);
        -o-transform: scaleY(0.6);
        transform: scaleY(0.6);
        -webkit-transform-origin: left top 0;
        -moz-transform-origin: left top 0;
        -ms-transform-origin: left top 0;
        -o-transform-origin: left top 0;
        transform-origin: left top 0;
    }
}
@-webkit-keyframes expandOutDown {
    0% {
        opacity: 1;
        -webkit-transform: scaleY(1);
        -moz-transform: scaleY(1);
        -ms-transform: scaleY(1);
        -o-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transform-origin: left bottom 0;
        -moz-transform-origin: left bottom 0;
        -ms-transform-origin: left bottom 0;
        -o-transform-origin: left bottom 0;
        transform-origin: left bottom 0;
    }
    to {
        opacity: 0;
        -webkit-transform: scaleY(0.6);
        -moz-transform: scaleY(0.6);
        -ms-transform: scaleY(0.6);
        -o-transform: scaleY(0.6);
        transform: scaleY(0.6);
        -webkit-transform-origin: left bottom 0;
        -moz-transform-origin: left bottom 0;
        -ms-transform-origin: left bottom 0;
        -o-transform-origin: left bottom 0;
        transform-origin: left bottom 0;
    }
}
@-moz-keyframes expandOutDown {
    0% {
        opacity: 1;
        -webkit-transform: scaleY(1);
        -moz-transform: scaleY(1);
        -ms-transform: scaleY(1);
        -o-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transform-origin: left bottom 0;
        -moz-transform-origin: left bottom 0;
        -ms-transform-origin: left bottom 0;
        -o-transform-origin: left bottom 0;
        transform-origin: left bottom 0;
    }
    to {
        opacity: 0;
        -webkit-transform: scaleY(0.6);
        -moz-transform: scaleY(0.6);
        -ms-transform: scaleY(0.6);
        -o-transform: scaleY(0.6);
        transform: scaleY(0.6);
        -webkit-transform-origin: left bottom 0;
        -moz-transform-origin: left bottom 0;
        -ms-transform-origin: left bottom 0;
        -o-transform-origin: left bottom 0;
        transform-origin: left bottom 0;
    }
}
@-ms-keyframes expandOutDown {
    0% {
        opacity: 1;
        -webkit-transform: scaleY(1);
        -moz-transform: scaleY(1);
        -ms-transform: scaleY(1);
        -o-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transform-origin: left bottom 0;
        -moz-transform-origin: left bottom 0;
        -ms-transform-origin: left bottom 0;
        -o-transform-origin: left bottom 0;
        transform-origin: left bottom 0;
    }
    to {
        opacity: 0;
        -webkit-transform: scaleY(0.6);
        -moz-transform: scaleY(0.6);
        -ms-transform: scaleY(0.6);
        -o-transform: scaleY(0.6);
        transform: scaleY(0.6);
        -webkit-transform-origin: left bottom 0;
        -moz-transform-origin: left bottom 0;
        -ms-transform-origin: left bottom 0;
        -o-transform-origin: left bottom 0;
        transform-origin: left bottom 0;
    }
}
@-o-keyframes expandOutDown {
    0% {
        opacity: 1;
        -webkit-transform: scaleY(1);
        -moz-transform: scaleY(1);
        -ms-transform: scaleY(1);
        -o-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transform-origin: left bottom 0;
        -moz-transform-origin: left bottom 0;
        -ms-transform-origin: left bottom 0;
        -o-transform-origin: left bottom 0;
        transform-origin: left bottom 0;
    }
    to {
        opacity: 0;
        -webkit-transform: scaleY(0.6);
        -moz-transform: scaleY(0.6);
        -ms-transform: scaleY(0.6);
        -o-transform: scaleY(0.6);
        transform: scaleY(0.6);
        -webkit-transform-origin: left bottom 0;
        -moz-transform-origin: left bottom 0;
        -ms-transform-origin: left bottom 0;
        -o-transform-origin: left bottom 0;
        transform-origin: left bottom 0;
    }
}
@keyframes expandOutDown {
    0% {
        opacity: 1;
        -webkit-transform: scaleY(1);
        -moz-transform: scaleY(1);
        -ms-transform: scaleY(1);
        -o-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transform-origin: left bottom 0;
        -moz-transform-origin: left bottom 0;
        -ms-transform-origin: left bottom 0;
        -o-transform-origin: left bottom 0;
        transform-origin: left bottom 0;
    }
    to {
        opacity: 0;
        -webkit-transform: scaleY(0.6);
        -moz-transform: scaleY(0.6);
        -ms-transform: scaleY(0.6);
        -o-transform: scaleY(0.6);
        transform: scaleY(0.6);
        -webkit-transform-origin: left bottom 0;
        -moz-transform-origin: left bottom 0;
        -ms-transform-origin: left bottom 0;
        -o-transform-origin: left bottom 0;
        transform-origin: left bottom 0;
    }
}
@-webkit-keyframes expandOutWithFade {
    0% {
        opacity: 1;
    }
    70% {
        opacity: 0;
    }
    to {
        opacity: 0;
    }
}
@-moz-keyframes expandOutWithFade {
    0% {
        opacity: 1;
    }
    70% {
        opacity: 0;
    }
    to {
        opacity: 0;
    }
}
@-ms-keyframes expandOutWithFade {
    0% {
        opacity: 1;
    }
    70% {
        opacity: 0;
    }
    to {
        opacity: 0;
    }
}
@-o-keyframes expandOutWithFade {
    0% {
        opacity: 1;
    }
    70% {
        opacity: 0;
    }
    to {
        opacity: 0;
    }
}
@keyframes expandOutWithFade {
    0% {
        opacity: 1;
    }
    70% {
        opacity: 0;
    }
    to {
        opacity: 0;
    }
}
@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
    20% {
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2);
    }
    to {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
}
@-moz-keyframes pulse {
    0% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
    20% {
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2);
    }
    to {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
}
@-ms-keyframes pulse {
    0% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
    20% {
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2);
    }
    to {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
}
@-o-keyframes pulse {
    0% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
    20% {
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2);
    }
    to {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
}
@keyframes pulse {
    0% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
    20% {
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2);
    }
    to {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
}
@-moz-document url-prefix() {
    .next-radio {
        margin-top: -1px;
    }
    @supports (animation: calc(0s)) {
        .next-radio {
            margin-top: -3px;
        }
    }
}
.multi-sidebar-outer .s-icon-footprint {
    background-position: 0 -372px;
}

.multi-sidebar-outer.sidebar-panel-expand {
    right: 0;
    animation: sidebar-panel-expand 0.5s;
    -moz-animation: sidebar-panel-expand 0.5s;
    -webkit-animation: sidebar-panel-expand 0.5s;
    -o-animation: sidebar-panel-expand 0.5s;
}
.multi-sidebar-outer.sidebar-panel-close {
    right: -320px;
    animation: sidebar-panel-close 0.5s;
    -moz-animation: sidebar-panel-close 0.5s;
    -webkit-animation: sidebar-panel-close 0.5s;
    -o-animation: sidebar-panel-close 0.5s;
}
.multi-sidebar-outer {
    width: 360px;
    min-height: 560px;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 998;
    font-size: 13px;
    direction: ltr;
    right: -320px;
    animation: sidebar-show 0.5s;
    -moz-animation: sidebar-show 0.5s;
    -webkit-animation: sidebar-show 0.5s;
    -o-animation: sidebar-show 0.5s;
}
.multi-sidebar-outer * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.multi-sidebar-outer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.multi-sidebar-outer a {
    text-decoration: none;
}
.multi-sidebar-outer p {
    margin-bottom: 0;
}
.multi-sidebar-outer .multi-sidebar-tab {
    background-color: #373737;
    font-size: 13px;
}
.multi-sidebar-outer .multi-sidebar-tab {
    width: 40px;
    height: 38px;
    position: absolute;
    left: 0;
    top: 32px;
}
.multi-siderbar-content .sidebar-tab {
   height: auto;
    background: #333333;
    padding: 4px;
}
.multi-siderbar-content .sidebar-tab .s-nav-title {
    display: block;
    width: 40px;
    height: 40px;
    text-align: center;
    cursor: pointer;
}
.multi-siderbar-content .sidebar-tab .s-nav-title:hover {
    background-color: #ff4747;
}
.multi-siderbar-content .sidebar-tab .s-nav-title a {
    position: relative;
    display: block;
    padding-top: 5px;
    width: 100%;
    height: 100%;
}
.multi-siderbar-content .sidebar-tab .s-nav-title a:hover {
    text-decoration: none;
}
.sidebar-tab-normal i:hover {
    color: #10a37f;
    cursor: pointer;
}
.multi-siderbar-content .sidebar-tab.sidebar-tab-go-top {
    cursor: pointer;
    visibility: hidden;
}
.multi-siderbar-content .sidebar-tab-normal {
 position: absolute;
    left: 7px;
    top: 50%;
    transform: translateY(-50%);
}
.multi-siderbar-content .sidebar-tab-normal .s-nav-title {
    padding-top: 4px;
}
.multi-siderbar-content .sidebar-tab-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
}
.multi-siderbar-content .sidebar-tab-bottom .sidebar-iconfont {
    font-size: 22px;
}
.multi-sidebar-plugins {
    width: 320px;
    height: 100%;
    position: absolute;
    left: 40px;
    top: 0;
    background-color: #333;
}
.multi-sidebar-plugins .multi-sidebar-inner {
    display: none;
    position: relative;
    height: 100%;
}
.multi-sidebar-plugins .multi-sidebar-inner .multi-sidebar-title {
    height: 60px;
    margin-bottom: 0;
    padding: 20px 0;
    position: relative;
    font-size: 18px;
    line-height: 20px;
    color: #fff;
    text-align: center;
}
.multi-sidebar-plugins .multi-sidebar-inner .multi-sidebar-title .sidebar-iconfont {
    position: absolute;
    left: 10px;
    top: 20px;
    cursor: pointer;
}
.multi-sidebar-plugins .multi-sidebar-inner .sidebar-plugin-content {
    height: 100%;
    padding-bottom: 80px;
    overflow-y: auto;
    overflow-x: hidden;
}

.multi-sidebar-plugins .multi-sidebar-inner .sidebar-plugin-content .multi-plugin-nodata p {
    padding: 0 20px;
}
.multi-sidebar-plugins .multi-sidebar-inner .sidebar-plugin-content .multi-plugin-nodata .sidebar-iconfont {
    font-size: 80px;
    font-weight: 200;
    color: #999;
}
.multi-sidebar-plugins .multi-sidebar-inner .sidebar-plugin-content .sidebar-wishlist-list {
    min-height: 600px;
    padding: 0 12px;
}
.multi-sidebar-plugins .multi-sidebar-inner .sidebar-plugin-content .sidebar-footprint-list {
    padding: 0 12px;
}
@keyframes sidebar-show {
    0% {
        right: -360px;
        opacity: 0;
    }
    to {
        right: -320px;
        opacity: 1;
    }
}
@-webkit-keyframes sidebar-show {
    0% {
        right: -360px;
        opacity: 0;
    }
    to {
        right: -320px;
        opacity: 1;
    }
}
@keyframes sidebar-panel-expand {
    0% {
        right: -320px;
    }
    to {
        right: 0;
    }
}
@-webkit-keyframes sidebar-panel-expand {
    0% {
        right: -320px;
    }
    to {
        right: 0;
    }
}
@keyframes sidebar-panel-close {
    0% {
        right: 0;
    }
    to {
        right: -320px;
    }
}
@-webkit-keyframes sidebar-panel-close {
    0% {
        right: 0;
    }
    to {
        right: -320px;
    }
}
.util-clearfix {
    zoom: 1;
}
.util-clearfix:after {
    visibility: hidden;
    display: block;
    height: 0;
    font-size: 0;
    content: "\0020";
    clear: both;
}
.sidebar-sns-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.sidebar-sns-list a {
    position: relative;
    display: block;
    height: 24px;
    padding-left: 30px;
    white-space: nowrap;
    color: #fff;
    line-height: 24px;
    cursor: pointer;
}
.sidebar-sns-list a,
.sidebar-sns-list a:hover {
    text-decoration: none;
}
.sidebar-sns-list a:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    border-radius: 24px;
}
